<!-- display.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant List</title>
  </head>
  <body>
    <h1>Restaurant List</h1>
    <p><%= nItems %> restaurants found. There are <%= nItems %> restaurants.</p>
    <% for (var i of items) { %>
      <h3>Restaurant ID: <%= i.restaurant_id %></h3>
      <p>Name: <%= i.name %></p>
      <p>Cuisine: <%= i.cuisine %></p>
      <p>Phone: <%= i.phone %></p>
      <p>Description: <%= i.description %></p>
      <hr>
    <% } %>
    <a href="/home">Back to home</a>
  </body>
</html>